{
  "environment":"production",
  "authorization": {
      "sudo": {
        // the deploy user specifically gets sudo rights
        // if you're using vagrant it's worth adding "vagrant"
        // to this array
        "users": ["deploy"]
      }
    },
  "rbenv":{
    "rubies": [
      "2.1.0"
    ],
    "global" : "2.1.0",
    "gems": {
      "2.1.0" : [
        {"name":"bundler"}
      ]
    }
  },
  "postgresql" : {
    "password" : {
      "postgres" : ""
    }
  },
  "run_list":
  [
    "role[server]",
    "role[nginx]",
    "role[postgres-server]",
    "role[rails-app]",
    "role[redis-server]"
  ]
}
